export LOCAL_GIT=/home/mah/work/code/mediawiki/core
export UPSTREAM_GIT=https://gerrit.wikimedia.org/r/mediawiki/core.git
export VMPATH=/home/mah/MachineImages
export DEBUG=y
export DIR=/home/mah/client/mabs
export MW_INSTALL_PATH=/home/mah/client/mabs/mediawiki
export WIKI=mabs
export DBNAME=mabs
export HOST=mabs.default
export HOSTSERVER=10.5.5.1
export DBSERVER=10.5.5.1
export WIKIUSER=MarkAHershberger
export WIKIDBUSER=wikiuser
export WIKIDBPASS=wikipass
export WIKIPASS=none1234
export WIKISERVER=http://mabs.default
export WIKIPATH=/wiki
export RELBRANCH=REL1_31
