setenv LOCAL_GIT /home/mah/work/code/mediawiki/core
setenv UPSTREAM_GIT https://gerrit.wikimedia.org/r/mediawiki/core.git
setenv VMPATH /home/mah/MachineImages
setenv DEBUG y
setenv DIR /home/mah/client/mabs
setenv MW_INSTALL_PATH /home/mah/client/mabs/mediawiki
setenv WIKI mabs
setenv DBNAME mabs
setenv HOST mabs.default
setenv HOSTSERVER 10.5.5.1
setenv DBSERVER 10.5.5.1
setenv WIKIUSER MarkAHershberger
setenv WIKIDBUSER wikiuser
setenv WIKIDBPASS wikipass
setenv WIKIPASS none1234
setenv WIKISERVER http://mabs.default
setenv WIKIPATH /wiki
setenv RELBRANCH REL1_31
